@import '../../Colors';

.btn {
    background: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    border: 0.15rem solid $color-border;
    border-radius: 0.2rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.1rem;
    transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;

    &:hover {
        background-color: $color-primary;
    }
}