@import "Colors";
@import "flexboxgrid";

body {
    background: $color-bg;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    height: 98vh;
}

.app {
    height: 100%;
}

.primary {
    background-color: $color-primary;
}

.transparent {
    background-color: $color-transparent;
}